<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <h5 class="title">Garage detail</h5>
              <h5 class="title">Garage ID: </h5>
            </div>
            <div class="col-md-2"> <a class="card-title" type="button" href="/api/garages/upload/{{data._doc._id}}">Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          {{!-- start form --}}
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Garage ID:</label>
                  <p>{{data._doc._id}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Garage Name:</label>
                  <p>{{data._doc.name}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Description:</label>
                  <p>{{data._doc.description}}</p>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Delete</button>
            <a name="" id="" class="btn btn-primary pull-right" href="/api/garages" role="button">Back
              to list</a>
            <div class="clearfix"></div>
          </form>
          {{!-- end form --}}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              michael24
            </p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy <br>
            Your chick she so thirsty <br>
            I'm in that two seat Lambo"
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>